[Unit]
Description=Web API for ods-rpc (plain HTTP)
After=rabbitmq-server.service await-ecryptfs.service
Conflicts=ods-webapi.service

[Install]

[Service]
Type = forking
PIDFile = /home/odsrpc/ods-webapi.pid
User = odsrpc
Group = odsrpc
Environment = PYTHONPATH=@PREFIX@/lib/ods-rpc:@PREFIX@/lib
ExecStart = @PREFIX@/bin/ods-webapi-unprotected
